.inputs.borders-sides {
  border-left: rgba(0, 0, 0, 0.3) solid 1px;
  border-right: rgba(0, 0, 0, 0.3) solid 1px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}
.inputs.borders-top-sides {
  border-left: rgba(0, 0, 0, 0.3) solid 1px;
  border-top: rgba(0, 0, 0, 0.3) solid 1px;
  border-right: rgba(0, 0, 0, 0.3) solid 1px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

.bg-black-mat {
  background-color: #28282b;
}
.text-black-mat {
  color: #28282b;
}
::placeholder {
  color: #28282b;
}
.bg-green-600 {
  background-color: #a06cd5 !important;
}
